ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #223;
}

ul {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 42px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
}
