ul {
  list-style-type: none;
  margin: 0;
  padding: 28px 0px
  overflow: hidden;
  background-color: green;
}

li {
  float: left;
}

li a {
  color: white;
  text-align: center;
  padding: 0px 42px;
  text-decoration: none;
}
li.secret {
  color:green
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-image: linear-gradient(to right, red, green); 
}
